{% extends "base.html" %}
{% block title %}Post Blog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block extra_in_head %}
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@next/dist/zero-md.min.js"></script>
{% endblock %}

{% block post_blog_link_nav %}
	<li><a style="color: #2388db;" href="/post_blog">Post Blog</a></li>
{% endblock %}

{% block post_blog_link_nav2 %}
    <li><a style="color: #2388db;" href="/post_blog">Post Blog</a></li>
{% endblock %}

{% block content %}
    <script>
        console.log(JSON.parse('{{login_status}}')["username"]);
        function FinalPost() {
            if ('{{login_status}}' !== "None") {
                var login_data = JSON.parse('{{login_status}}');
                var to_send = {
                    "user": login_data["username"],
                    "title": document.getElementById("blog_title").value,
                    "content": document.getElementById("blog_content").value,
                }
                var filesInput = document.getElementById("file");
                const data = new FormData();
                if(filesInput.files[0].size > 7000000){
                    M.toast({
                        html: 'Uploaded Image is Too Big, Limit: 5 MB',
                        classes: 'rounded'
                    });
                } else {
                    var file = filesInput.files[0];
                    var newFile = new File(file, ((document.getElementById("blog_title").value).replaceAll(" ", "_")).toLowerCase(), {
                        type: file.type,
                        lastModified: file.lastModified,
                    });
                    /* var blob = file.slice(0, file.size, file.type); 
                    var fileType = (file.type).replace('image/', '');
                    var fileName = ((document.getElementById("blog_title").value).replaceAll(" ", "_")).toLowerCase()+"."+fileType;
                    var newFile = new File([blob], fileName, {type: file.type}); */
                    data.append(fileName, newFile);
                    fetch("/api/add_blog", {
                        headers : {"content-type" : "application/json; charset=UTF-8"},
                        body : JSON.stringify(
                            {
                                "user": login_data["username"],
                                "title": document.getElementById("blog_title").value,
                                "content": document.getElementById("blog_content").value
                            }
                        ),
                        method : "POST"
                    })
                    .then(async (response) => {
                        var responseInJson = await response.json();
                        if (responseInJson["worked"] == false) {
                            M.toast({
                                html: 'Error In Posting Blog',
                                classes: 'rounded'
                            });
                        }
                    });
                    fetch("/api/add_image", {
                        body : data,
                        method : "POST"
                    })
                    .then(async (response) => {
                        var responseInJson = await response.json();
                    });
                    window.location.href = "/";
                }
            } else {
                M.toast({
                    html: '<span>Please <a style="text-decoration: underline;" href="/login">Login</a> or <a style="text-decoration: underline;" href="/sign_up">Sign Up</a> to Post a Blog</span><button class="btn-flat toast-action" style="color: white;" onclick="M.Toast.dismissAll();">X</button>',
                    classes: 'rounded'
                });
            }
        }
        function checkSize(max_img_size) {
            var input = document.getElementById("file");
            // check for browser support (may need to be modified)
            if(input.files && input.files.length == 1)
            {           
                if (input.files[0].size > max_img_size) 
                {
                    alert("The file must be less than " + (max_img_size/1024/1024) + "MB");
                    return false;
                }
            }

            return true;
        }
    </script>
    <div style="display: flex; flex-wrap: wrap;">
        <form id="myForm" method="POST" action="/api/add_blog_new" enctype="multipart/form-data" onsubmit="return checkSize(5000000)" style="margin-left: 1vw; width: 100%;" >
            <input id="user" name="user" hidden>
            <script>
                document.getElementById("user").value = JSON.parse('{{login_status}}')["username"]
            </script>
            <div class="input-field">
                <input id="blog_title" name="blog_title" type="text" required>
                <label for="blog_title">Title</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="blog_content" name="blog_content" class="materialize-textarea" required></textarea>
                    <label for="blog_content">Content</label>
                </div>
                <div id="markdownShow" class="col s6">
                    <p>Content Preview</p>
                    <zero-md>
                        <script type="text/markdown" data-dedent></script>
                    </zero-md>
                </div>
            </div>
            <div class="file-field input-field">
                <div style="background: black; color: white;" class="btn">
                    <span>File</span>
                    <input name="file" id="file" type="file" accept="image/*" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload Blog Image">
                </div>
            </div>                    
            <div style="text-align: center;">
                <!-- <a onclick="FinalPost()" class="waves-effect waves-light btn">Post Blog</a> -->
                <button style="z-index: 1; background: black; color: white" class="waves-effect waves-light btn">Post Blog</button>
            </div>
            
        </form>
    </div>
    <script>
        const textArea = document.getElementById("blog_content");
        const markdown = document.getElementById("markdownShow");
        textArea.addEventListener('input', () => {
            markdown.innerHTML =  
                `
                    <p>Content Preview</p>
                    <zero-md>
                        <script type="text/markdown" data-dedent>
                            ${textArea.value}
                        <\/script>
                    </zero-md>
                `;
        });
    </script>
{% endblock %}